body{
    background-color: #f9f9f9;
}

header{
    margin: 0;
    background-color: #ffffff;
}
.menu a{
    text-decoration: none;
    color: #ffffff;
}
.menu ul{
    margin-top: 40px;
    font-size: 0;
    line-height: 0;
    letter-spacing:-1px;
    background-color: #525151;
}
.menu ul li{
    display: inline;
    padding: 10px 10px;
    margin: 0 20px;
    font-size: 16px;
    color: #ffffff;
    line-height: 40px;
    letter-spacing:normal;
}
.menu ul li:hover{
    background-color: #000000;
}


